.row {
    position: relative;
    margin-top: 12vw;
}

.slider {
    display: flex;
    width: 100vw;
    transition: transform 1.3s;
}

.title {
    color: rgb(235, 235, 235);
    user-select: none;
    margin-left: 2vw;
}
.movie {
    border-radius: 7px;
    width: 15vw;
    height: 10vw;
    background-size: cover;
    transition: all 0.5s;
}

/* .row::-webkit-scrollbar {
    display: none;
} */
.movie__container {
    position: absolute;
    border-radius: 7px;
    top: 0;
    transition: all 0.5s;
}
