.profile_picture {
    position: absolute;
    background-size: cover;
    border-radius: 5px;
    right: 50px;
    height: 30px;
    width: 30px;
}

.user_settings {
    user-select: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.808);
    border-radius: 10px;
    color: white;
    right: 33px;
    top: 50px;
    width: 150px;
    padding: 10px;
    height: 200px;
}

.arrow {
    background-image: url(./arrow.png);
    position: absolute;
    transform: rotate(90deg);
    right: 33px;
    background-size: cover;
    width: 10px;
    height: 10px;
    transition: transform 0.2s;
}

.pointer {
    cursor: pointer;
}

.choose_picture {
    position: absolute;
    background-color: black;
}

.greeting {
    color: whitesmoke;
    font-size: 1vw;
    position: absolute;
    right: 90px;
}

.change_username {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.863);
    border-radius: 30px;
    padding: 20px;
    color: whitesmoke;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.change_username_buttons {
    display: flex;
    justify-content: space-around;
}


